*{
    font-family: 'Nunito Sans';
}

.card{
    justify-content: center;
    border-radius: 15px;
}

.cardProduct:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.imgShop{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
}

.judul{
    height: 25%;
}

.card-title{
    font-size: 14px;
    opacity: 60%;
}

.priceLabel2{
    font-size: 100%;
    color: black;
    font-weight: bold;
}

.btnBuy{
    width: 100%;
    font-size: 14px;
}

.rating{
    width: 8%;
}

.greyFont{
    color: gray;
    font-family: 'Nunito Sans';
}